<h2> Список пользователей</h2>
<% @clients.each do |client| %>
  <h4><%= client.name %></h4>
  <p><a href="/client/<%= client.id %>/edit">Редактировать</a></p>
  <p><a href="/client/<%= client.id %>/remove">Удалить</a></p>
<% end %>
<h5>Добавить пользователя:</h5>
<form action="/" method="post">
  <input type="text" name="client[name]" placeholder="введите имя" value="<%= @c.name %>"/>
  <input type="text" name="client[role]" placeholder="введите роль" />
  <input type="submit">
</form>
